<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.fields_for :professional_account, resource.build_professional_account do |ff| %>
    <div class="field">
      <%= ff.label :phone_number %><br />
      <%= ff.text_field :phone_number, autofocus: true %>
    </div>

    <div class="field">
      <%= ff.label :bio %><br />
      <%= ff.text_area :bio, autofocus: true %>
    </div>

    <%= ff.fields_for :workplace, resource.professional_account.build_workplace do |fff| %>
      <div class="field">
        <%= fff.label :name %><br />
        <%= fff.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= fff.label :street %><br />
        <%= fff.text_field :street, autofocus: true %>
      </div>

      <div class="field">
        <%= fff.label :city %><br />
        <%= fff.text_field :city, autofocus: true %>
      </div>

      <div class="field">
        <%= fff.label :zip %><br />
        <%= fff.text_field :zip, autofocus: true %>
      </div>

      <div class="field">
        <%= fff.label :state %><br />
        <%= fff.text_field :state, autofocus: true %>
      </div>

      <div class="field">
        <%= fff.label :country %><br />
        <%= fff.text_field :country, autofocus: true %>
      </div>
      
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
