<h2 class="text-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend>User Information</legend>
    <div class="row">
      <div class="small-6 columns">
        <%= f.text_field :first_name, autofocus: true, placeholder: "first name", required: ""%>
      </div>
      <div class="small-6 columns">
        <%= f.text_field :last_name, autofocus: true, placeholder: "last name", required: "" %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.email_field :email, autofocus: true, placeholder: "email", required: "" %>
      </div>
    </div>

    <div class="row">
      <% min_pass = " (#{@minimum_password_length} characters minimum)" if @minimum_password_length %>
      <div class="small-12 columns">
        <%= f.password_field :password, autocomplete: "off", placeholder: "password#{min_pass}", required: "" %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password", required: "" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Profile Information</legend>
    <%= f.fields_for :professional_account, resource.build_professional_account do |ff| %>
      <div class="row">
        <div class="small-12 columns">
          <%= ff.text_field :phone_number, autofocus: true, placeholder: "phone number", required: "" %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= ff.text_area :bio, autofocus: true, placeholder: "bio", rows: "4" %>
        </div>
      </div>

      <%= ff.fields_for :workplace, resource.professional_account.build_workplace do |fff| %>
        <div class="row">
          <div class="small-12 columns">
            <%= fff.text_field :name, autofocus: true, placeholder: "workplace name", required: "" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <%= fff.text_field :street, autofocus: true, placeholder: "street", required: "" %>
          </div>
        </div>

        <div class="row">
          <div class="small-7 columns">
            <%= fff.text_field :city, autofocus: true, placeholder: "city", required: "" %>
          </div>
          <div class="small-5 columns">
            <%= fff.text_field :zip, autofocus: true, placeholder: "zip", required: "" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <%= fff.text_field :state, autofocus: true, placeholder: "state", required: "" %>
          </div>
          <div class="small-8 columns">
            <%= fff.text_field :country, autofocus: true, placeholder: "country", required: "" %>
          </div>
        </div>
        
      <% end %>
    <% end %>
  </fieldset>

    <div class="actions text-center">
      <%= f.submit "Sign up", class: "button round" %>
    </div>
  <% end %>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>

