<h1>Schedules#edit</h1>
<p>Find me in app/views/schedules/edit.html.erb</p>
<div>
	<%= form_for(@schedule) do |f| %>
		<%= f.fields_for :availabilities, @schedule.availabilities do |ff| %>
			<div class="row">
				<div class="small-8 columns">
					<fieldset>
					<legend>Time Slot</legend>
					<%= ff.select(:day_of_week, Date::DAYNAMES) %>
					<%= ff.label :start_time %>
					<%= ff.time_field :start_time %>
					<%= ff.label :end_time %>
					<%= ff.time_field :end_time %>
				</fieldset>
			</div>
			<div class="small-4 columns">
				<br>
				<br>
				<%= ff.check_box :_destroy %>
				<%= ff.label :_destroy, "Remove slot" %>
			</div>
		</div>
		<% end %>
		<%= f.submit %>
	<% end %>
</div>